/* -------- Let the exorcism begin -------- */


/* Reset + universal */
* {border: 0px;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, img, b, i, ol, ul, li, fieldset, form, input, dl, dt, dd {padding: 0; margin: 0; border: 0; font-weight: normal; vertical-align: baseline; word-wrap: break-word;}
ul {list-style-type: none;}
::selection {color: #ffffff; background: #b9b9b7;}
::-moz-selection {color: #ffffff; background: #b9b9b7;}
.clr {clear: both;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.clearfix {display: block;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
img {-ms-interpolation-mode:bicubic}
a:focus {outline: none;}
.dim {position: absolute; width: 100%; height: 100%; overflow: hidden; background-color: #ffffff; z-index: 9999;}
.noSelect {-webkit-user-select: none; -moz-user-select: none; -khtml-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;}


html {height: 100%;}
body {overflow: auto; height: 100%; min-width: 960px; min-height: 600px; background: #f9f9f9 url('/images/body_bg.png') left top repeat; color: #393939; line-height: 14px; font-family: 'Playfair Display SC', 'Garamond', serif;}

a:link, a:visited {color: #624d24;}
a:hover {color: #9c683a;}



.age {position: absolute; top: 10px; left: 10px; width: 50px; height: 50px; z-index: 2; background: url('/images/age.png') center center no-repeat;}
.puzzle {position: absolute; top: 10px; right: 10px; z-index: 2;}
.puzzle a {display: block; width: 50px; height: 50px; text-decoration: none; background: url('/images/puzzle.png') center center no-repeat;}





.superwrap {width: 880px; margin: 0 auto; text-align: center; font-size: 80%;}

.supertop {width: 800px; height: 281px; margin: 0 auto; background: url('/images/supertop.png') center center no-repeat;}

.supercontent {width: 870px; margin: 0 auto; padding: 20px 0 20px 0; text-align: center;}

.supercontent .superleft {float: left; width: 420px; height: 500px; padding-right: 10px; background: url('/images/superright_bg.png') center center no-repeat;}
.supercontent .superright {float: right; width: 420px; margin: 30px 0 20px 10px; font-size: 14px; line-height: 20px; text-align: left; text-shadow: 0 1px 1px #ffffff;}
.supercontent .superright p {padding-bottom: 14px;}
.supercontent .superright b {font-weight: bold;}



.copy {padding: 0 10px 20px 10px; font-size: 100%; color: #474e51; text-align: center; opacity: 0.70; -moz-opacity: 0.70; -khtml-opacity: 0.70; filter: alpha(opacity=70);}

#counters {position: fixed; bottom: -160px; right: 40px; z-index: 1005; width: 140px; height: 180px; text-align: right; background-image:url('/images/counters.png'); background-position: right top; background-repeat: no-repeat;}
.counters_list {padding-top: 30px; opacity: 0.40; -moz-opacity: 0.40; -khtml-opacity: 0.40; filter: alpha(opacity=40);}
.counters_list p {padding: 0; margin: 0; padding-bottom: 6px; font-size: 11px; color: #3e4548;}
#counters:hover {bottom: 0;}

.error_wrap {width: 600px; padding-top: 60px; margin: 0 auto; text-align: center;}
.error_wrap h1 {padding-bottom: 30px; font-size: 32px; font-weight: bold;}
.error_wrap p {padding: 10px 10px 10px 10px; font-size: 14px; line-height: 18px;}






/* Gallery */
.gallerySlogan {position: absolute; top: 50px; left: 7%; z-index: 6; width: 180px; text-align: right; font-size: 130%; font-style: italic; color: #b1afce; text-shadow: 1px 1px 2px #000000;}
.galleryLocket {position: absolute; top: -73px; right: 14.7%; width: 50px; height: 170px; background-image: url('/images/mainLocket.png'); z-index: 5;}

a.gallery_pics, .gallery_pics_notfancy {display: inline-block; overflow: hidden; text-align: center; vertical-align: top; margin: 5px; border: 1px solid #337294;}
a.gallery_pics:hover, .gallery_pics_notfancy:hover {border: 1px solid #5db3e1; box-shadow: 0px 0px 8px rgba(149,207,236,1); -moz-box-shadow: 0px 0px 8px rgba(149,207,236,1); -webkit-box-shadow: 0px 0px 8px rgba(149,207,236,1);}

.galleryContentWrap {position: relative; top: -100px; width: 96%; max-width: 1200px; margin: -90px auto 20px auto; z-index: 4;}
.galleryContent {float: right; width: 98%; margin: 5px auto 15px auto; text-align: center; font-size: 120%; text-shadow: 0px -1px 2px #0d293a;}
.galleryContent_frr {float: right; width: 22%; overflow: hidden; margin: 0 auto;}
.galleryContent_frl {float: right; width: 670px; overflow: hidden; margin: 0 auto; text-align: right; padding: 0 10px 0 10px; background: url('/images/blockPatternBlue.png') top left repeat-x; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border-top: 1px solid #6e78a5;}
.galleryContent_srr {float: right; width: 47%; overflow: hidden; margin: 0 auto; text-align: center; background: url('/images/blockPatternBlue.png') top left repeat-x; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border-top: 1px solid #525a7c;}
.galleryContent_srl {float: left; width: 52%; overflow: hidden; margin: 0 auto; text-align: center; background: url('/images/blockPatternBlue.png') top left repeat-x; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border-top: 1px solid #525a7c;}
.galleryContent_srr_Safe, .galleryContent_srl_Safe {padding: 0 10px 10px 10px;}
.galleryContent_tr {padding: 10px; background: url('/images/blockPatternBlue.png') top left repeat-x; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border-top: 1px solid #424864;}

.galleryContent h3 {margin-top: 5px; margin-bottom: 20px; font-size: 180%; font-style: italic; color: #dcedf7; text-shadow: 0px -2px 2px #000000;}
.galleryContent h4 {padding-top: 15px; padding-right: 5px; padding-left: 5px; margin-bottom: 2px; font-size: 150%; font-style: italic; color: #dcedf7; text-shadow: 0px -2px 2px #000000;}
.galleryHDsub {font-size: 85%; color: #9eb3bf; padding-right: 5px; padding-left: 5px;}
.galleryContent p {padding: 5px 0 8px 0;}
.galleryContent .galleryContent_rc p::first-letter {font-style: bold; font-size: 140%;}



/* Video */
.videoLocket {position: absolute; top: -83px; left: 4%; width: 50px; height: 170px; background-image: url('/images/mainLocket.png'); z-index: 5;}
.videoSlogan {position: absolute; top: 50px; left: 7%; z-index: 6; width: 180px; text-align: right; font-size: 130%; font-style: italic; color: #e6d6ae; text-shadow: 1px 1px 2px #000000;}

.videoContentWrap {position: relative; top: -100px; width: 96%; max-width: 1200px; margin: -80px auto 20px auto; z-index: 4;}
.videoContent {float: right; width: 98%; margin: 5px auto 10px auto; text-align: center; font-size: 120%; text-shadow: 0px -1px 2px #0d293a;}
.videoContent_phrase {float: right; width: 52%; overflow: hidden; margin: 0 auto; text-align: left;}
.videoContent_frl {float: left; width: 43%; overflow: hidden; margin: 0 auto; text-align: right;}
.videoContent_frr {float: left; width: 470px; overflow: hidden; margin: 0 auto; padding: 0 10px 10px 15px; text-align: left; background: url('/images/blockPatternRed.png') top left repeat-x; -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px; border-top: 1px solid #ae9363;}
.videoContent_sr {width: 818px; margin: 0 auto; padding: 5px 10px 10px 17px; text-align: left; background: url('/images/blockPatternRed.png') top left repeat-x; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border-top: 1px solid #6c5244;}
.videosMiscWrap {background: url('/images/blockPatternRed.png') top left repeat-x; -webkit-border-radius: 20px; -moz-border-radius: 20px; border-radius: 20px; border-top: 1px solid #433026;}

.videoContent h3 {margin-top: 5px; margin-bottom: 15px; font-size: 180%; font-style: italic; color: #dcedf7; text-shadow: 0px -2px 2px #000000;}
.videoContent p {padding: 5px 0 8px 0;}
.videoContent .videoContent_rc p::first-letter {font-style: bold; font-size: 140%;}
.videoContent h4 {padding-top: 10px; padding-right: 5px; padding-left: 5px; margin-bottom: 2px; font-size: 150%; font-style: italic; color: #fad9a3; text-shadow: 0px -2px 2px #000000;}
.videoHDsub {font-size: 85%; color: #9eb3bf; padding-right: 5px; padding-left: 5px;}

a.videos_items {display: inline-block; overflow: hidden; text-align: center; vertical-align: top; margin: 5px 5px 5px 0; border: 2px solid #b16d24;}
a.videos_items:hover {border: 2px solid #f2a24e;}
#beautifulcreatures_russiantrailer2_550 {border: 2px solid #b16d24;}
#beautifulcreatures_russiantrailer2_550:hover {border: 2px solid #f2a24e;}

.videoItemWrap {display: inline-block; width: 180px; min-height: 130px; vertical-align: top; margin-bottom: 15px;}
.videoItemWrap span {font-size: 85%; color: #9eb3bf; display: block;}


